<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h1>This text from app component</h1>
                <button class="btn btn-primary" (click) = "onToggleDetails()">Display Details</button>
                <p *ngIf = "showSecrete">Secret Password = tuna</p>
                <div
                    *ngFor="let logItem of log;let i = index"
                    [ngStyle]="{backgroundColor: i>=4 ? 'blue' : 'trasparent'}"
                    [ngClass]="{'white-text':i >=4 }"
                    >{{logItem}}

                </div>
                <hr>
                <app-servers></app-servers>
                <app-success></app-success>
                <app-warning></app-warning>
        </div>
    </div>
</div>
