<body>
  

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
           <a class="navbar-brand" href="#"><b>Supreme Calculator</b></a>
          </div>
         
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class=""></span> About</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> contact us</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class = "row">
            <div class="col-sm-4" >
              <button type="button" class="btn btn-default btn-lg">
                <img src="../assets/images/bmi.jpg" width="60" />
                  <b>BMI</b></button>
            </div>
            <div class="col-sm-4" >
              <button type="button" class="btn btn-default btn-lg">
                  <img src="../assets/images/age.jpg" width="60" />
               <b> Age</b></button></div>
            <div class="col-sm-4" >
              <button type="button" class="btn btn-default btn-lg">
                  <img src="../assets/images/discount.png" width="60" />
               <b> Discount</b></button></div>
        </div>
        <hr>
        <div class = "row">
            <div class="col-sm-4" >
              <button type="button" class="btn btn-default btn-lg">
                  <img src="../assets/images/temp.jpg" width="60" />
               <b>Temperature</b></button></div>
            <div class="col-sm-4" >
              <button type="button" class="btn btn-default btn-lg">
                  <img src="../assets/images/time.png" width="60" />
                <b>Time</b></button></div>
            <div class="col-sm-4" >
              <button type="button" class="btn btn-default btn-lg">
                  <img src="../assets/images/date.png" width="60" />
                <b>Date</b></button></div>
        </div>
      
      
      </div>
</body>

